<h1>Directory of Student Pages</h1>

<ul>
 <li><%= link_to 'dante', dante_path %></li>
    <li><%= link_to 'thekelso91', username_path %></li>
    <li><%= link_to 'sti4o', sti4o_path %></li>
    <li><%= link_to 'mfrkzzmn', username_path %></li>
</ul>
