<h1>Kelsey Evans<h1>

<p>University of Memphis student</p>
<ul>
    <li>Computer Science major</li>
    <li>Graduating in May 2025</li>
</ul>
<p>FedEx employee</p>
<ul>
    <li>Lead Production Supervisor</li>
    <li>Working for FedEx for 12 years</li>
</ul>
<p>Husky owner</p>